@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400|Roboto:300,400&display=swap");
* {
  box-sizing: border-box; }

html {
  color: #444;
  background: #eee;
  font-size: 62.5%; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

a, input, button, textarea, select, option {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  -webkit-appearance: none; }

* {
  font-family: 'Noto Sans JP', sans-serif; }

.header {
  height: 72px;
  width: 100%;
  padding: 0 30px;
  background: #444;
  color: #fcfcfc;
  box-shadow: 0 0 8px 0 #bbb;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between; }
  .header__title {
    font-size: 2.0rem;
    line-height: 72px; }
  .header__nav {
    font-size: 1.6rem;
    display: block;
    height: 72px;
    line-height: 72px;
    color: #bbb; }

.main {
  margin-top: 72px;
  padding: 24px 0 40px;
  font-size: 1.6rem; }
  .main__container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly; }
  .main__card {
    height: auto;
    margin-bottom: 24px;
    background: #fcfcfc;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 #bbb;
    transition: .3s; }
    @media screen and (min-width: 1000px) {
      .main__card {
        width: calc((100% - 96px)/3); } }
    @media screen and (max-width: 1000px) {
      .main__card {
        width: calc((100% - 72px)/2); } }
    @media screen and (max-width: 767px) {
      .main__card {
        width: calc(100% - 48px); } }
    .main__card h1 {
      margin-bottom: 10px;
      font-size: 1.6rem; }
    .main__card button {
      text-align: center;
      border-radius: 8px;
      padding: 10px;
      width: 100%;
      height: 40px;
      color: #fcfcfc;
      background: #bf4278;
      transition: .3s;
      font-size: 1.6rem;
      line-height: 1; }
      .main__card button.disabled {
        background: #ddd;
        pointer-events: none; }
      .main__card button.clicked {
        pointer-events: none; }
    .main__card .caption {
      font-size: 1.0rem;
      color: #888;
      display: block; }
  .main .select h1 {
    margin-bottom: 4px; }
  .main .select span {
    text-align: right;
    margin-bottom: 10px; }
  .main .select ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px; }
    .main .select ul li {
      text-align: center;
      margin: 6px;
      width: 100px;
      height: 40px;
      line-height: 37px;
      background: #fcfcfc;
      border-radius: 8px;
      color: #888;
      border: 1px solid #bbb;
      font-size: 1.4rem;
      transition: .3s; }
      .main .select ul li.selected {
        background: #1e5ebd;
        color: #fcfcfc;
        border-color: #1e5ebd; }
  .main .calc .calc-card .title {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #888;
    margin-bottom: 14px; }
    .main .calc .calc-card .title h1 {
      height: 30px;
      font-size: 2rem;
      padding: 2px 10px 2px;
      position: relative;
      top: 2px; }
    .main .calc .calc-card .title div {
      display: flex;
      margin-bottom: 2px; }
      .main .calc .calc-card .title div .game,
      .main .calc .calc-card .title div .rate,
      .main .calc .calc-card .title div .delete {
        font-size: 1.2rem;
        display: block;
        padding: 0px 8px;
        margin: 2px 4px 6px;
        border-radius: 4px;
        color: #fcfcfc;
        align-self: flex-end;
        height: 32px;
        line-height: 30px; }
      .main .calc .calc-card .title div .game {
        background: #1e5ebd;
        border: 1px solid #1e5ebd; }
      .main .calc .calc-card .title div .rate {
        background: #bf4278;
        border: 1px solid #bf4278; }
      .main .calc .calc-card .title div .delete {
        border: 1px solid #888;
        color: #888;
        font-size: 1.4rem;
        line-height: 28px; }
  .main .calc .calc-card .table {
    font-size: 1.4rem;
    width: 100%;
    table-layout: fixed;
    border-color: #bbb; }
    .main .calc .calc-card .table tr th {
      font-weight: bold;
      background: #bbb; }
    .main .calc .calc-card .table tr th,
    .main .calc .calc-card .table tr td {
      height: 40px;
      text-align: center;
      width: 33%; }
      .main .calc .calc-card .table tr th input,
      .main .calc .calc-card .table tr td input {
        width: 100%;
        height: 100%;
        text-align: center; }
  .main .calc .new-game-maker ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px; }
    .main .calc .new-game-maker ul li {
      text-align: center;
      margin: 6px;
      width: 80px;
      height: 40px;
      line-height: 37px;
      background: #fcfcfc;
      border-radius: 8px;
      color: #444;
      border: 1px solid #666;
      font-size: 1.4rem;
      transition: .3s; }
      .main .calc .new-game-maker ul li.selected {
        background: #1e5ebd;
        color: #fcfcfc;
        border-color: #1e5ebd; }
    .main .calc .new-game-maker ul.maker-rate li:first-child,
    .main .calc .new-game-maker ul.maker-rate li:last-child {
      width: 40px;
      font-size: 1.8rem; }
    .main .calc .new-game-maker ul.maker-rate li:nth-child(2) {
      width: 158px; }
      .main .calc .new-game-maker ul.maker-rate li:nth-child(2) input {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 1.6rem;
        line-height: 0.8; }
  .main .calc .newgame-button .newgame-make {
    margin-bottom: 16px;
    background: #1e5ebd; }
  .main .calc .newgame-button .newgame {
    border: 1px solid #bbb;
    background: #eee;
    color: #888;
    font-size: 2rem;
    height: 212px;
    transition: 0s; }
    .main .calc .newgame-button .newgame.cancel {
      background: #888;
      color: #fcfcfc;
      height: auto;
      font-size: 1.6rem; }
  .main .result .result-card .title {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #888;
    margin-bottom: 14px; }
    .main .result .result-card .title h1 {
      height: 30px;
      font-size: 2rem;
      padding: 2px 10px 2px;
      position: relative;
      top: 2px; }
    .main .result .result-card .title div {
      display: flex;
      margin-bottom: 2px; }
      .main .result .result-card .title div .game,
      .main .result .result-card .title div .rate,
      .main .result .result-card .title div .delete {
        font-size: 1.2rem;
        display: block;
        padding: 0px 8px;
        margin: 2px 4px 6px;
        border-radius: 4px;
        color: #fcfcfc;
        align-self: flex-end;
        height: 32px;
        line-height: 30px; }
      .main .result .result-card .title div .game {
        background: #1e5ebd;
        border: 1px solid #1e5ebd; }
      .main .result .result-card .title div .rate {
        background: #bf4278;
        border: 1px solid #bf4278; }
      .main .result .result-card .title div .delete {
        border: 1px solid #888;
        color: #888;
        font-size: 1.4rem;
        line-height: 28px; }
  .main .result .result-card .table {
    font-size: 1.4rem;
    width: 100%;
    table-layout: fixed;
    border-color: #bbb; }
    .main .result .result-card .table tr th {
      font-weight: bold;
      background: #bbb; }
    .main .result .result-card .table tr th,
    .main .result .result-card .table tr td {
      height: 40px;
      text-align: center;
      width: 33%; }
      .main .result .result-card .table tr th input,
      .main .result .result-card .table tr td input {
        width: 100%;
        height: 100%;
        text-align: center; }
  .main .back p {
    width: 80px;
    height: 36px;
    color: white;
    line-height: 35px;
    background: rgba(17, 17, 17, 0.7);
    position: fixed;
    bottom: 12px;
    left: 12px;
    border-radius: 8px;
    text-align: center;
    transition: .5s;
    box-shadow: 0 0 6px 0 #444; }
