@import "import";

// styles

.header {
  height: $height-header;
  width: 100%;
  padding: 0 30px;
  background: $white;
  box-shadow: $basic-shadow;
  position: relative;
  &__title {
    font-size: 2.4rem;
    line-height: $height-header;
  }
}

.main {
  min-height: $height-main;
  background: $super-light-gray;
  padding: 30px;
  font-size: 1.6rem;
  &__container {
    background: $white;
    padding: 16px 24px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: $basic-shadow;
  }
}

.footer {

}
