@import "import";

// styles

.header {
  height: $height-header;
  width: 100%;
  padding: 0 30px;
  background: $white;
  box-shadow: $basic-shadow;
  position: fixed;
  top: 0;
  z-index: 1;
  &__title {
    font-size: 2.0rem;
    line-height: $height-header;
  }
}

.main {
  @include main;
  &__card {
    @include card;
  }
  .select {
    h1 {
      margin-bottom: 4px;
    }
    span {
      text-align: right;
      margin-bottom: 10px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
      li {
        text-align: center;
        margin: 6px;
        width: 100px;
        height: 40px;
        line-height: 37px;
        background: $white;
        border-radius: 8px;
        color: $gray;
        border: 1px solid $light-gray;
        font-size: 1.4rem;
        transition: .3s;
        &.selected {
          background: $color-theme;
          color: $white;
          border-color: $color-theme;
        }
      }
    }
    button {
      @include button;
    }
  }
}
